[user]
	name = Saltaformajo
	email = corp@dev.null
[init]
	defaultBranch = main
[core]
	autocrlf = input
	pager = delta
[push]
	autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	nflictstyle = diff3
[diff]
	colorMoved = default
[pull]
	rebase = true
