# Ignore all
*

# but not .dotfiles
!.*
# but not .sh files
!*.sh
!/Downloads/Telegram Desktop/unzip_here.sh

# not ignore Templates folder
!/Templates
!/Templates/*.*

# xfce panels-config backup
!.local/**
.local/share/
.local/lib/
.local/bin/
.local/state/
!/.local/share/xfpanel-switch/xfce-panels-config.tar.bz2

# desktop location changed to "Downloads"
!/.config/user-dirs.dirs

# ignore history and logs
*.log
*_history

# ssh related is secret
.ssh

# ignore also this
.ICEauthority
.Xauthority
.bash_logout
.fonts/
.java/
.xsession-errors*
.sudo_as_admin_successful
.ecryptfs
.Private
.Xdefaults
.directory
.gtkrc-2.0
.gtkrc-xfce
.fehbg
.steampath
.steampid
.wget-hsts
.zcompdump-*
.cargo/.package-cache
*.bak
*.lock
