# Ignore all
*

# but not .dotfiles
!.*
# but not .sh files
!*.sh
!/Downloads/Telegram Desktop/unzip_here.sh

# xfce panels-config backup
!.local/**
!/.local/share/xfpanel-switch/xfce-panels-config.tar.bz2

# desktop location changed to "Downloads"
!/.config/user-dirs.dirs

# ignore history and logs
*.log
*_history

# ignore also this files
.ICEauthority
.Xauthority
.bash_logout
.fonts/
.java/
.xsession-errors*
.sudo_as_admin_successful



