# Ignore all
*

# but not .dotfiles
!.*
# but not .sh files
!*.sh
!/Downloads/Telegram Desktop/unzip_here.sh

# not ignore Templates folder
!/Templates
!/Templates/*.*

!.config/**/*.lua
.local/share/
.local/lib/
.local/bin/
.local/state/

# desktop location changed to "Downloads"
!/.config/user-dirs.dirs

# ignore history and logs
*.log
*_history

# ssh related is secret
.ssh

# ignore also this
.ICEauthority
.Xauthority
.bash_logout
.fonts/
.java/
.xsession-errors*
.sudo_as_admin_successful
.ecryptfs
.Private
.Xdefaults
.directory
.gtkrc-2.0
.gtkrc-xfce
.fehbg
.steampath
.mozilla/
.node_modules/
.npm/
.cache/
.steampid
.config/JetBrains/
.wget-hsts
.zcompdump-*
.cargo/*
*.bak
*.lock
.Xresources.back
.bash_profile
.dmrc
.docker/
.gitconfig
.lesshst
.npmrc
.oh-my-zsh/
.pulse-cookie
.shell.pre-oh-my-zsh
.viminfo
.yarnrc
.zshrc.pre-oh-my-zsh
go/
Sync/
