" set leader key
let mapleader = " "
" reload config
nnoremap <leader>r :action IdeaVim.ReloadVimRc.reload<CR>
" plugin specific
set ideajoin
set showmode

set sneak

" no sounds on error
set visualbell
set noerrorbells
set t_vb=
set tm=500

" line numbers
set relativenumber

" Don't redraw while executing macros (good performance config)
set lazyredraw

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
nmap <leader>l <Action>(NextTab)
nmap <leader>h <Action>(PreviousTab)
nmap <leader>f <Action>(GotoFile)
nmap <leader>g <Action>(FindInPath)
" insert blank line
nmap <leader>o o<ESC>
nmap <leader>O O<ESC>

nmap = <Action>(ReformatCode)
vmap = <Action>(ReformatCode)
nnoremap <leader>u :action FindUsages<CR>

" copy current line to system clipboard
nnoremap <leader>cc "+yy
"" copy current file to system clipboard
"" - doen't work
" nnoremap <leader>cf <CMD>%y+<CR>
"" paste to the file (replace) from system clipboard
"" - doen't work
" nnoremap <leader>vf <CMD>%d<CR>"+p

" append ; to the end of line
inoremap <leader>; <Esc>A;<Esc>
nnoremap <leader>; <Esc>A;<Esc>

" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>d <C-d>
vmap <leader>u <C-u>

" press jk to exit from insert mode
imap jk <Esc>
imap kj <Esc>

nmap <leader>bb <Action>(CloseEditor)
nmap <leader>ba <Action>(CloseAllEditors)
nmap <leader>a <Action>(CloseProject)

nmap <leader>ga <Action>(Git.Add)
nmap gp <Action>(Git.Pull)

nmap gcc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)

nmap <leader>t <Action>(ActivateTerminalToolWindow)
nmap <leader>er <Action>(Run)


"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
